.tile {
  height: 460px;
  width: 220px;
  padding: 20px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.tileimg {
  max-height:150px;
  max-width: 180px;
}
.tileedit {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.tiledelete {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.prodname {
  word-wrap: break-word;
  overflow-x: hidden;
  height: 120px;
}

